.center {
  display: flex;
  justify-content: center;
}

.button {
  border-color: var(--border-color, #ddd);
  color: var(--text-color, #eee);
}

.input {
  border-color: var(--border-color, #ddd);
}
