@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color-1);
  background: -webkit-linear-gradient(
    to right,
    var(--background-color-1),
    var(--background-color-2)
  );
  background: linear-gradient(to right, var(--background-color-1), var(--background-color-2));
  color: var(--text-color);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
