@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color-1, #606c88);
  background: -webkit-linear-gradient(to right, var(--background-color-1, #606c88), var(--background-color-2, #3f4c6b));
  background: linear-gradient(to right, var(--background-color-1, #606c88), var(--background-color-2, #3f4c6b));
  color: var(--text-color, #eee);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
