body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #6190e8;
  background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8);
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
